<div id="buttons_add_field">
    <%= link_to_add_chapter 'Add a chapter', form, :elements %>
    <%= link_to_add_code 'Add a code', form, :elements %>
    <%= link_to_add_text 'Add a text', form, :elements %>
    <%= link_to_add_image 'Add an image', form, :elements %>
    <%= link_to_add_reference 'Add a reference', form, :elements %>
</div>