<div id="buttons_add_field">
    <%= link_to_add_chapter 'Add a chapter', fo, :elements %>
    <%= link_to_add_code 'Add a code', fo, :elements %>
    <%= link_to_add_text 'Add a text', fo, :elements %>
    <%= link_to_add_image 'Add an image', fo, :elements %>
    <%= link_to_add_reference 'Add a reference', fo, :elements %>
</div>