<fieldset id="input">
        <div class="input-group mb-2">
                <div class="input-group-prepend">
                        <span class="input-group-text"> Your image</span>
                </div>
                <%= f.text_area :text, placeholder: "Type your text", class: "form-control", :size =>"25x10" %>
                <%= f.file_field :image, class: "form-control" %>
                <%= f.hidden_field :style_id, :value => Style.find_by(name: "Image").id %>

                <%= f.hidden_field :_destroy %>
        </div>
                <%= link_to "Remove this element", "#", class: "remove_fields btn btn-danger mb-5" %>
</fieldset>