<fieldset id="input">
        <div class="input-group mb-3">
                <div class="input-group-prepend">
                        <span class="input-group-text"> Your text</span>
                </div>
                <%= f.text_area :text, placeholder: "Type your text", class: "form-control", :size =>"25x5"%> 
                <%= f.hidden_field :style_id, :value => Style.find_by(name: "Text").id %>
                <%= f.hidden_field :language_text, :value => "French" %>

                <%= f.hidden_field :_destroy %>
                <%= link_to( :class => "class") do %>
                        <i class="fas fa-trash-alt fa-2x ml-3 remove_fields red" style="color:red"></i>
                <% end %>
        </div>
</fieldset>