<fieldset>
        <div class="form-check-inline w-100">
                <%= f.text_field :text, placeholder: "Type the tree of your code like : # app/views/user/show.html.erb", class: "form-control", required: true %> 
                <%= f.collection_select :language_code, Language.all, :rouge_name, :name,{multiple: true, validate: true, :include_blank => "Please select the language of your code"}, class: 'form-control width-drop', required: true %> 
        </div>
        <div class="input-group mb-3 ">

                <div class="input-group-prepend">
                        <span class="input-group-text"> Your code</span>
                </div>
                <%= f.text_area :code, placeholder: "Type your code", class: "form-control ", :size =>"25x5", required: true %> 
                <%= f.hidden_field :style_id, :value => Style.find_by(name: "Code").id %>
                <%= f.hidden_field :_destroy %>
                <%= link_to( :class => "class") do %>
                                <i class="fas fa-trash-alt fa-2x ml-3 remove_fields red" style="color:red"></i>
                <% end %>
        </div>
</fieldset>